global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'vllm'
    static_configs:
      # vLLM metrics - dynamically set host IP
      - targets: ['10.140.0.22:8000']
    metrics_path: /metrics
